body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    z-index: -1;
}

.half img {
    max-width: 100%;
    height: auto;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(129, 240, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.buttons button {
    padding: 10px;
    font-size: 18px;
}

.clock {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.daily-phrase {
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px; /* Ajusta el padding según sea necesario */
    color: black; /* Color del texto negro */
    border-radius: 5px; /* Opcional: añade bordes redondeados */
    z-index: 1;
    text-align: center;
}
